.ui.card{
    min-width: 30%;
    min-height: 56vh;
}

.ui.two.buttons{
    max-width: inherit;
}

.profileBubbleFriend {
	margin-top: 2%;
	text-align: center;
}

.displayNameWithIcon {
	text-align: center;
	margin-top: 1%;
}

.friendCardContent {
	border: none !important;
}