.profile {
    text-align: center;
    max-width: 75%;
    margin-top: 10px;
}

.profile-username {
    font-size:large;
    font-weight: bold;
    margin-top: 1%;
}

.profile-tabs {
    margin-left: 5%;
    max-width: 75%;
    max-height: 70vh;
}

.streamFeedInProfile > .ui.segment[class*="bottom attached"] {
	background: rgba(255, 255, 255, 0.4);
}

.AuthorPage {
	overflow-y: scroll;
}
